html {
    background-color: #eee;
}

body {
		background-color: #faeff6;
}



#title{
		padding-bottom: 15px;
		font-family: 'Raleway', cursive;
		font-size: 40pt;
		font-weight: 900;
		color: #ee008c;
		text-align: left;

/*		text-shadow: #D9D9D9 2px 2px 0px;*/
}

#content {
		display: table;
}

#headingRow{
		display: table-row;
}

#fromLangLabel, #toLangLabel, #ansLabel{
		display: table-cell;
}

#activeRow{
		display: table-row;
}



#fromLangPrompt{
		display: table-cell;
}

#entriesLog{
		display: table;
}

.correctRow{
		display: table-row;
}


.correctLangFrom, .correctLangTo{
		display: table-cell;
}


.wrongRow{
		display: table-row;
}


.wrongLangFrom, .wrongLangTo, .actualTo{
		display: table-cell;
}

.ColumnHeading{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-weight: 550;
		font-size: 25pt;
		color: #666666;
}

.PromptWord{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-weight: 550;
		font-size: 25pt;
		color: black;
}		

.correctLangFrom{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-size: 25pt;
		color: blue;
}		


.correctLangTo{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-size: 25pt;
		color: blue;
}		
.wrongLangFrom{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-size: 25pt;
		color: red;
}		

.wrongLangTo{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-size: 25pt;
		color: red;
		text-decoration: line-through;
}		
.actualTo{
		text-align: left;
		display: inline;
		padding-right: 20px;
		padding-bottom: 10px;
		font-family: 'Helvetica', normal;
		font-size: 25pt;
		color: red;
}		

/*font-family: 'Ruluko', sans-serif;
font-family: 'Doppio One', sans-serif;
*/